<h3>Say what you think!</h3>

<%= form_for [ @topic, @message ] do |f| %>
 <p>
  <%= f.label :author, "Your Name" %><br/>
  <%= f.text_field :author %>
 </p>
 <p>
  <%= f.label :body %><br/>
  <%= f.text_area :body %>
 </p>
 <p>
  <%= f.submit 'Submit' %>
 </p>
<% end %>

