<%= form_with(model: topicthread, local: true) do |form| %>
  <% if topicthread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topicthread.errors.count, "error") %> prohibited this thread from being saved:</h2>

      <ul>
      <% topicthread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :topicthread_name %>
    <%= form.text_field :name, id: :topicthread_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>