<div class="center jumbotron">
<h1>3d Modeller News Forum</h1>
<p>Create your topics and answer to authors</p>


  <%= link_to "Home", home_path, class: "btn btn-lg btn-primary" %>
</div>


<p id="notice"><strong><%= "Forum Threads" %></strong></p>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
 <thead style= "background-color: rgba(255, 255, 255, 0)" >
    
    <% for topicthread in @topicthreads %><br />
     <%= link_to topicthread.name, topicthread_path(topicthread) %><br />


     
      </thead>
   
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
   <thead style= "background-color: #379392" >
      <tr>
      <th>Branch</th>
      <th>Last topic</th>
      <th>By</th>
      <th>At</th>
      <th>Messages</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 <tbody>
        <% for branch in topicthread.branches %>
    <tr>
       <td><%= link_to branch.title, branch_path(branch) %></td>
        <td><%= branch.topics.last.name %></td>
        <td><%= gravatar_for(branch.topics.last.user, 25) %></td>
        <td><%= branch.topics.last.created_at %></td>
        <td><%= pluralize(branch.topics.last.messages.count, "messages") %></td>
       <% end %>
    </tr>
  
    
</table>
  </tbody>
</table>
      
      <% end %>


<br>


