<div class="center jumbotron">


  <%= link_to "Home", home_path, class: "btn btn-lg btn-primary" %>
</div>


<p id="notice"><%= @topicthread.name %></p>


  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th>Branches</th>
      <th>Authors</th>
      <th>Last topic</th>
      <th>By</th>
      <th>At </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topicthread.branches.each do |branch| %>
       <tr>
        <td><%= link_to branch.title, branch_path(branch) %></td>
        <td><%= branch.topics.map{|topic| topic.user.name}.join(", ") %></td>
        <td><%= link_to branch.topics.last.name %></td>
         <td><%= branch.topics.last.user.name %></td>
          <td><%= branch.topics.last.created_at %></td>
               
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<%= link_to image_tag("planets_.jpg", alt: "space works") %>