<p id="notice"><%= notice %></p>

<p>
  <strong><%= @article.title %></strong>
  
</p>

<p>
 
  <%= @article.body %>
</p>

<%= image_tag(@article.image.url, alt: 'Image') if @article.image? %>

<h3>Comments</h3>
<%= render partial: 'articles/comment', collection: @article.comments %>
<%= render partial: 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', articles_path %>
