<% provide(:title, "About") %>
<h1>3d Modeller News</h1>
<h2>About us</h2>
<p>Be aware of 3d world news, features and tips from our articles collection. Register to comment!</p>

  <%= link_to "Articles", 'articles', class: "btn btn-lg btn-primary" %> <br /><br />
</div>


 <!-- Header Section-->
    <section style="background: url(<%= asset_path 'plants.jpg' %>); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-11">
            <h1>Here you will know what 3d modelling is and what main well known software choices it it about.</h1>
            <p class="text-big">Get to know about it.</p>
          </div>
        </div><a href="#" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">3D Graphics. Main Software Choices</h2>
            <p class="text-big"> 3D designers use these kinds of software to rely on. </p>
          </div>
        </div>
      </div>
    </section>

   <section class="featured-posts no-padding-top">
    <div class="container">
 <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <h2 class="h4">Autodesk</h2></a>
                </header>
                <h2><strong>3DS MAX</strong></h2><br />
<p class="text-small">Autodesk 3ds Max, formerly 3D Studio and 3D Studio Max, is a professional 3D computer graphics program for making 3D animations, models, games and images. It is developed and produced by Autodesk Media and Entertainment.[1] It has modeling capabilities and a flexible plugin architecture and can be used on the Microsoft Windows platform. It is frequently used by video game developers, many TV commercial studios and architectural visualization studios. It is also used for movie effects and movie pre-visualization. For its modeling and animation tools, the latest version of 3ds Max also features shaders (such as ambient occlusion and subsurface scattering), dynamic simulation, particle systems, radiosity, normal map creation and rendering, global illumination, a customizable user interface, new icons, and its own scripting language.</p>
          </div>
        </div>
       </div>
          <div class="img-fluid"><img src="<%= asset_path 'maxlogo.png' %>" alt="Autodesk 3ds Max"></div>
      </div>

 <div class="row d-flex align-items-stretch">
    <div class="img-fluid"><img src="<%= asset_path 'mayalogo.png' %>" alt="Autodesk Maya"></div>
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content"> 
               <header class="post-header">
                <h2 class="h4">Autodesk</h2></a>
                 </header>             
                <h2><strong>MAYA</strong></h2><br />
  <p class="text-small"> Autodesk Maya is a highly professional solution for 3D modeling, animation and rendering in one complete and very powerful package.
It has won several awards for professionalism and power and is one of the leading industry 3D animation packages. One of the reasons for this is that Autodesk Maya offers a huge amount of objects and effects to work on your projects and because Autodesk Maya is based on an open architecture, all your work can be scripted or programmed using a well-documented and comprehensive API (Application Programming Interface) or one of two embedded scripting languages, the Maya Embedded Language (MEL) or Python. </p>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content"> 
               <header class="post-header">
                <h2 class="h4">Blender Foundation</h2></a>
                 </header>             
                <h2><strong>Blender 3D</strong></h2><br />
  <p class="text-small"> Blender is the free and open source 3D creation suite. It supports the entirety of the 3D pipeline—modeling, rigging, animation, simulation, rendering, compositing and motion tracking, even video editing and game creation. Advanced users employ Blender’s API for Python scripting to customize the application and write specialized tools; often these are included in Blender’s future releases. Blender is well suited to individuals and small studios who benefit from its unified pipeline and responsive development process. Blender is cross-platform and runs equally well on Linux, Windows, and Macintosh computers. Its interface uses OpenGL to provide a consistent experience. To confirm specific compatibility, the list of supported platforms indicates those regularly tested by the development team. </p>
          </div>
        </div>
      </div>
      <div class="img-fluid"><img src="<%= asset_path 'blender.png' %>" alt="Blender 3D"></div>
    </div>
  </section>