<div class="center jumbotron">
<h1>3d Modeller News</h1>
<p>You can use 3ds Max Design to visualize designs of real things that will actually be built, such as buildings and machines. The File Link feature of 3ds Max Design lets you base visualizations on designs created in AutoCAD ® or Autodesk Revit ® Architecture: When the design changes in these other applications, the revisions can be automatically updated in your 3ds Max Design scene. Add lighting and materials, then render to still image or movie formats.

These tutorials teach 3ds Max Design through a series of hands-on exercises. Prepare to be entertained and fascinated by the awesome power at your fingertips. </p>


  <%= link_to "About", about_path, class: "btn btn-lg btn-primary" %>
</div>
          
  <!-- Header Section-->
    <section style="background: url(<%= asset_path 'titlepic.jpg' %>); background-size: cover; background-position: center center" class="hero">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1>Attend 3D ARTISTS FORUM</h1><a href="#" class="forum_path">Say what you think</a>
          </div>
        </div><a href=".intro" class="continue link-scroll"><i class="fa fa-long-arrow-down"></i> Scroll Down</a>
      </div>
    </section>
    <!-- Intro Section-->
    <section class="intro">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="h3">3D Graphics</h2>
            <p class="text-big">There is some <strong>definition</strong>  <strong>for you</strong>. 3D computer graphics are often referred to as 3D models. Apart from the rendered graphic, the model is contained within the graphical data file. A model can be displayed visually as a two-dimensional image through a process called 3D rendering or used in non-graphical computer simulations and calculations..</p>
          </div>
        </div>
      </div>
    </section>
    <section class="featured-posts no-padding-top">
      <div class="container">
        <!-- Post-->
        <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Important</a><a href="#">3Ds Max</a></div><a href="post.html">
                    <h2 class="h4">What's New in 3Ds Max 2018</h2></a>
                </header>
                <p>As you proceed through the documentation, keep an eye out for the icon, indicating a new feature, and the icon, indicating a change to an existing feature. You can also search for information about new or changed features.</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="<%= asset_path 'admin.jpg' %>" alt="..." class="img-fluid"></div>
                    <div class="title"><span>Admin</span></div></a>
                  <div class="date"><i class="icon-clock"></i>1 week ago</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer>
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="<%= asset_path 'max.jpeg' %>" alt="..."></div>
        </div>
        <!-- Post        -->
        <div class="row d-flex align-items-stretch">
          <div class="image col-lg-5"><img src="<%= asset_path 'gallery-5.jpeg' %>" alt="..."></div>
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Render</a><a href="#">Vray</a></div><a href="post.html">
                    <h2 class="h4">V-RAY FOR 3DS MAX COURSEWARE FOR EDUCATORS</h2></a>
                </header>
                <p>Chaos Group’s official coursewares are designed to help educators focus on what they do best. We provide proven, customizable resources, guidance, and assets which accommodate every level of teaching V-Ray.</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="<%= asset_path 'admin.jpg' %>"  alt="..." class="img-fluid"></div>
                    <div class="title"><span>Admin</span></div></a>
                  <div class="date"><i class="icon-clock"></i> 1 week ago</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer>
              </div>
            </div>
          </div>
        </div>
        <!-- Post                            -->
        <div class="row d-flex align-items-stretch">
          <div class="text col-lg-7">
            <div class="text-inner d-flex align-items-center">
              <div class="content">
                <header class="post-header">
                  <div class="category"><a href="#">Interesting</a><a href="#">Maya</a></div><a href="post.html">
                    <h2 class="h4">Autodesk Maya. Scripting languages</h2></a>
                </header>
                <p>Alongside its more recognized visual workflow, Maya is equipped with a cross-platform scripting language, called Maya Embedded Language. MEL is provided for scripting and a means to customize the core functionality of the software, since many of the tools and commands used are written in it. Code can be used to engineer modifications, plug-ins or be injected into runtime. Outside these superficial uses of the language, user interaction is recorded in MEL, allowing even inexperienced users to implement subroutines. Scene information can thus be dumped, extension .ma, editable outside Maya in any text editor.</p>
                <footer class="post-footer d-flex align-items-center"><a href="#" class="author d-flex align-items-center flex-wrap">
                    <div class="avatar"><img src="<%= asset_path 'admin.jpg' %>" alt="..." class="img-fluid"></div>
                    <div class="title"><span>Admin</span></div></a>
                  <div class="date"><i class="icon-clock"></i> 2 months ago</div>
                  <div class="comments"><i class="icon-comment"></i>12</div>
                </footer>
              </div>
            </div>
          </div>
          <div class="image col-lg-5"><img src="<%= asset_path 'maya.jpeg' %>" alt="..."></div>
        </div>
      </div>
    </section>
    <!-- Divider Section-->
    <section style="background: url(<%= asset_path 'abstract.jpg' %>);  background-size: cover; background-position: center bottom" class="divider">
      <div class="container">
        <div class="row">
          <div class="col-md-11">
            <h4>Blender is a professional, free and open-source 3D computer graphics software toolset used for creating animated films, visual effects, art, 3D printed models, interactive 3D applications and video games.</h4><a href="#" class="hero-link">View More</a>
          </div>
        </div>
      </div>
    </section>
    <!-- Latest Posts -->
    <section class="latest-posts"> 
      <div class="container">
        <header> 
          <h2>Next you will read</h2>
          <p class="text-big">Upcoming articles review.</p>
        </header>
        <div class="row">
          <div class="post col-md-4">
            <div class="post-thumbnail"><img src="<%= asset_path 'gallery-1.jpg' %>" alt="Try it" class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">14 february | 2018</div>
                <div class="category"><a href="#">Tech</a></div>
              </div><a href="post.html">
                <h3 class="h4">How to pick videocard</h3></a>
              <p class="text-muted">Professionals recommend: 1GB NVidia GCube series.</p>
            </div>
          </div>
          <div class="post col-md-4">
            <div class="post-thumbnail"><img src="<%= asset_path 'gallery-2.jpg' %>" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">4 june | 2017 </div>
                <div class="category"><a href="#">Unity</a></div>
              </div><a href="post.html">
                <h3 class="h4">Unity: Importing models from Maya</h3></a>
              <p class="text-muted">Unity natively imports Maya files. To get started, simply place your .mb or .ma file in your project’s Assets folder. When you switch back into Unity, the scene is imported automatically and will show up in the Project view.</p>
            </div>
          </div>
          <div class="post col-md-4">
            <div class="post-thumbnail"><img src="<%= asset_path 'gallery-3.jpg' %>" alt="..." class="img-fluid"></a></div>
            <div class="post-details">
              <div class="post-meta d-flex justify-content-between">
                <div class="date">20 May | 2016</div>
                <div class="category"><a href="#">Unity</a></div>
              </div><a href="post.html">
                <h3 class="h4">Unity: Importing models from 3ds max</h3></a>
              <p class="text-muted">If you make your 3D objects in 3dsMax, you can save your .max files directly into your Project or export them into Unity using the Autodesk .FBX or other generic formats. Unity imports meshes from 3ds Max. Saving a Max file or exporting a generic 3D file type each has advantages and disadvantages see class-Mesh</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Newsletter Section-->
    <section class="newsletter no-padding-top">    
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Subscribe to Newsletter</h2>
            <p class="text-big">Interested in 3ds Max, Maya, Cinema 4D or Blender? Don't miss any news.</p>
          </div>
          <div class="col-md-8">
            <div class="form-holder">
              <form action="#">
                <div class="form-group">
                  <input type="email" name="email" id="email" placeholder="Type your email address">
                  <button type="submit" class="submit">Subscribe</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Gallery Section-->
    <section class="gallery no-padding">    
      <div class="row">
         <div class="mix col-lg-3 col-md-3 col-sm-6">
        <div class="image"><img src="<%= asset_path 'gallery-1.jpg' %>" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="image"><img src="<%= asset_path 'gallery-2.jpg' %>" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="image"><img src="<%= asset_path 'gallery-3.jpg' %>" alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
        <div class="mix col-lg-3 col-md-3 col-sm-6">
          <div class="image"><img src="<%= asset_path 'gallery-4.jpg' %>"  alt="..." class="img-fluid">
              <div class="overlay d-flex align-items-center justify-content-center"><i class="icon-search"></i></div></a></div>
        </div>
      </div>
    </section>
    <!-- Page Footer-->
    <footer class="main-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="logo">
              <h6 class="text-white">3D NEWS</h6>
            </div>
            <div class="contact-details">
              <p> by 'Ruby Generic Host' <3 </p>
              <p>Contact admin:</p>
              <p>Email: <a href="rghost">rghostme@gmail.com</a></p>
              <ul class="social-menu">
                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4">
            <div class="menus d-flex">
              <ul class="list-unstyled">
                <li> <a href="#">My Account</a></li>
                <li> <a href="#">Add Listing</a></li>
                 <li> <a href="#">Contact</a></li>
                </ul>
                           
      
          </div>
        </div>
      </div>
      <div class="copyrights">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
                       </div>
            <div class="col-md-6 text-right">
                                
              </p>
            </div>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
            