 <%= form_for [ @branch, @topic ] do |form| %> 


  <div class="field">
    <%= form.label :topic_name %>
    <%= form.text_field :name, id: :topic_name %>
  </div>

    <div class="field">
    <%= form.label :author_name %>
    <%= current_user.name %>
  </div>

  <div class="field">
    <%= form.label :your_text %>
    <%= form.text_area :body, id: :topic_body %>
  </div>

   <div class="field">
   <%= form.label :branch_name %>
    <%= @topic.branch_id %>
    </div>

  <div class="actions">
    <%= form.submit %>
  </div>

 
<% end %>
