<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @topic.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @topic.body %>
</p>

<h3>Messages</h3>
<%= render partial: 'topics/message', collection: @topic.messages %>
<%= render partial: 'messages/form' %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
