<p id="notice"><%= notice %></p>

<div class="gravatar">
	<%= gravatar_for(@topic.user,40) %>
		<div class="img img-responsive">
	</div>


<p>
   <%= @topic.name %>   
</p>

<p>
   <%= @topic.body %>
</p>

<p>
<strong>Author:</strong> 
<%= @topic.user.name %>
</p>

<h3>Messages</h3>
<%= render partial: 'topics/message', collection: @topic.messages %>
<%= render partial: 'messages/form' %>

<%= image_tag(@topic.image.url, alt: 'Image') if @topic.image? %>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Destroy', topic_path(@topic), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', topics_path %>